<body class="bg-gray-900 text-white font-sans">
  <div class="mx-auto px-4 py-8">
      <%= turbo_frame_tag 'main' do %>
        <%= turbo_stream_from @user %>
        <%= render @user %>
        <%= link_to 'studies', studies_user_path(@user), data: { turbo_stream: true } %>
        <%= link_to 'experience', works_user_path(@user), data: { turbo_stream: true } %>
      <% end %>
  </div>
</body>