<body class="bg-gray-900 text-white font-sans">
  <div class="mx-auto px-4 py-8">
    <%= turbo_stream_from @user %>
    <%= render @user %>
    <%= link_to 'Back', users_path %>
    <%= link_to 'Studies', studies_user_path(@user), data: { turbo_stream: true } %>
    <%= link_to 'Experience', works_user_path(@user), data: { turbo_stream: true } %>
  </div>
</body>