<div class="mb-2">
  <p class="font-semibold">Position:</p>
  <p><%= work.title %></p>
</div>
<div class="mb-2">
  <p class="font-semibold">Company:</p>
  <p><%= work.company_name %></p>
</div>
<div class="mb-2">
  <p class="font-semibold">Duration:</p>
  <p><%= work.started_at %> to <%= work.finished_at || 'current' %></p>
</div>
<div class="mb-2">
  <p class="font-semibold">Responsibilities:</p>
  <p><%= work.description %></p>
</div>